*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
}

.grid-container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
       'one one '     
       'two three' ;
       /* gap: 1.2rem; */
}.box1{
    max-width: 600px;
    /* grid-area: one; */
    grid-column: 1/3;
    border: transparent;
    padding: 30px 40px;
    background-color: #fff;
}

.box1 h1{
    font-size: 20px;
    margin: 10px 0;
    color: hsl(179, 62%, 43%);
}

.box1 h3{
    font-size: 17px;
    margin: 10px 0;
    color: hsl(71, 73%, 54%);
    font-weight: bolder;
}

.box1 p{
    font-size: 16px;
    margin: 20px 0;
    color: hsl(218, 22%, 67%);
}

.box2{  width: 300px;
    grid-area: two;
    border: none;
    padding: 20px 30px;
    border-right: 1px solid ;
    /* text-align: center; */
    background-color: hsl(179, 62%, 43%);
}
.box2 h2{
    font-size: 20px;
    color: #fff;
}



.text{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 7px 0;
}
.text h3{
    font-size: 30px;
    color: #fff;
}

.box2 h5{
    font-size: 17px;
    margin-bottom: 10px;
}

.box2 a{
   display: inline-block;
    margin: 20px auto;
    padding: 12px 90px;
    border-radius: 7px;
    background:  hsl(71, 73%, 54%);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.box3{
    width: 300px;
    grid-area: three;
    border: transparent;
    padding: 20px 30px;
    /* text-align: center; */
    background-color: hsl(179, 62%, 43%);
}


.box3 ul li{
    list-style: none;
    color: #fff;
    margin: 2px 0;
}

.box3 h2{
    font-size: 20px;
    color: #fff;
}
@media screen (min-width: 400px ){
    .grid-container {
        grid-template-areas: 
        'one'
        'two'
        'three';

    }

    .box1{
        grid-area: one;
    }

    .box2{
        grid-area: two;
    }

    .box3{
        grid-area: three;
    }
}

